.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.hero {
    border: 5px solid var(--primary);
    object-fit: cover;
}

.hero img {
    z-index: 9;
}

.logo {
    font-size: 1.2em;
}

.banner {
    margin: 30px 0;
    padding: 20px 0;
    text-align: center;
    font-size: 1.5em;
}

.skill-box {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--warning);
    color: var(--warning);
}

.services-icons {
    font-size: 4rem;
}

.web-dev-text {
    padding-left: 30px;
    font-size: 3rem;
}

.hosting {
    padding-right: 30px;
    font-size: 3rem
}

.service-title-wrapper {
    display: flex;
    align-items: center;
}

.service-title-wrapper-alt {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.web-dev-description {
    font-size: 1.3rem;
    display: block;
}

